/* input[type="range"] {
  position: absolute;
  top: 20%;
  transform: rotate(270deg)
} */

/* .app-container{
  display: flex;
  justify-content: center
}

.party{
  display: flex;
  justify-content: center
} */
